# Provider Configuration
# Options: 'elos' or 'evup'
ELOS_PROVIDER=elos

# Elos Provider URL (default)
ELOS_URL=https://botoclinic.elosclub.com.br

# Evup Provider URL
EVUP_URL=https://espacolaser.evup.com.br

# Server Configuration
PORT=3000

# Proxy Configuration (opcional - usar para contornar bloqueios de Cloudflare)
# PROXY_HOST=dc.oxylabs.io
# PROXY_PORT=8000
# PROXY_USER=user-iszap_gmYQo-country-US
# PROXY_PASS=sua_senha_aqui
