# Provider Configuration
# Options: 'elos' or 'evup'
ELOS_PROVIDER=elos

# Elos Provider URL (default)
ELOS_URL=https://botoclinic.elosclub.com.br

# Evup Provider URL
EVUP_URL=https://espacolaser.evup.com.br

# Server Configuration
PORT=3000
